{% extends 'html/base.html' %}

{% block judul %} Tahun Ajaran Baru {% endblock %}

{% block konten %}
<div class="container">
    <br>
    <div class="row justify-content-center">
        <div class="form-group bg-danger col-6">
            <form method="POST">
                {%csrf_token%}
                <div class="form-group">
                    <label>Pilih Mata Pelajaran</label>
                    <select class="form-control" name="matpel">
                        <option value="mtk_{{tahun}}">Matematika</option>
                        <option value="ind_{{tahun}}">Bahasa Indonesia</option>
                        <option value="ing_{{tahun}}">Bahasa Inggris</option>
                    </select>
                    <div class="form-group row mt-2">
                        <input type="submit" class="form-control btn btn-warning col" value="Pilih">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}